:root {
  --mainColor:   #4257b4;
  --mainColor10: #f2f2fa;
  --accentColor: #a2aee0;
  --tem: #ffc400;
  --pre: #0000ff;
  --ser: #dd0000;
  --bat: #14ad00;
  --pm1: #e100ff;
  --loc: #00c9bf;
  --bg:  #f5f5f5;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  top: 0;
  height: 40px;
}

.wrapper {
  width: 100%;
}

.header table td {
  height: 35px;
  padding: 5px 10px 8px;
  font-weight: bold;
  color: white;
  background-color: var(--mainColor);
  vertical-align: middle;
}

table td {
  background-color: var(--mainColor10);
  padding: 5px 10px 8px;
  vertical-align: middle;
}

.blink {
  animation-name: animation;
  animation-timing-function: ease-in-out;
  animation-duration: 0.15s;
}

@keyframes animation {
  0%   { background-color: var(--bg); }
  50%  { background-color: var(--accentColor); }
  100% { background-color: var(--bg); }
}

table td.tem { border-left: 5px solid var(--tem); }
table td.pre { border-left: 5px solid var(--pre); }
table td.ser { border-left: 5px solid var(--ser); }
table td.bat { border-left: 5px solid var(--bat); }
table td.pm1 { border-left: 5px solid var(--pm1); }
table td.loc { border-left: 5px solid var(--loc); }